.naslov1{
    background-color: rgb(60, 151, 131);
    color: black;
    padding: 20px;
    text-align: center;
}


.slika1{
    width: 600px;
    margin: 10px;
    border: 10px solid black;
    border-color: rgb(60, 151, 131)
}

.podnaslov1:hover{
    font-size: 2em;
}

.naslov3{
    background-color: rgb(60, 151, 131);
    color: black;
    padding: 20px;
    text-align: center;
}

